<a href="https://colab.research.google.com/github/thezsanett/textsummarization/blob/main/textsum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data loading

## CNN/DailyMail dataset

https://github.com/maszhongming/MatchSum

In [ ]:
!gdown 1FG4oiQ6rknIeL2WLtXD0GWyh6pBH9-hX
!unzip ACL2020_data.zip

Downloading...
From: https://drive.google.com/uc?id=1FG4oiQ6rknIeL2WLtXD0GWyh6pBH9-hX
To: /content/ACL2020_data.zip
100% 1.95G/1.95G [00:28<00:00, 69.5MB/s]
Archive:  ACL2020_data.zip
  inflating: test_CNNDM_bert.jsonl
  inflating: test_CNNDM_roberta.jsonl
  inflating: train_CNNDM_bert.jsonl
  inflating: train_CNNDM_roberta.jsonl
  inflating: val_CNNDM_bert.jsonl
  inflating: val_CNNDM_roberta.jsonl

## Other datasets
- WikiHow dataset
- PubMed dataset
- XSum dataset
- MultiNews dataset
- Reddit dataset

In [ ]:
!gdown 1y23-pRrn1D31zfs1FjhpLA5bK0YBwQco
!unzip ACL2020_other_datasets.zip

Downloading...
From: https://drive.google.com/uc?id=1y23-pRrn1D31zfs1FjhpLA5bK0YBwQco
To: /content/ACL2020_other_datasets.zip
100% 1.44G/1.44G [00:42<00:00, 34.0MB/s]
Archive:  ACL2020_other_datasets.zip
  inflating: test_multinews.jsonl
  inflating: test_pubmed.jsonl
  inflating: test_reddit.jsonl
  inflating: test_wikihow.jsonl
  inflating: test_xsum.jsonl
  inflating: train_multinews.jsonl
  inflating: train_pubmed.jsonl
  inflating: train_reddit.jsonl
  inflating: train_wikihow.jsonl
  inflating: train_xsum.jsonl
  inflating: val_multinews.jsonl
  inflating: val_pubmed.jsonl
  inflating: val_reddit.jsonl
  inflating: val_wikihow.jsonl
  inflating: val_xsum.jsonl

# Dataset generation

In [ ]:
import pandas as pd

In [ ]:
used_files = [
  # 'test_CNNDM_bert.jsonl',
  # 'test_multinews.jsonl',
  # 'test_pubmed.jsonl',
  # 'test_reddit.jsonl',
  # 'test_wikihow.jsonl',
  # 'test_xsum.jsonl',

  # 'train_CNNDM_bert.jsonl',
  # 'train_multinews.jsonl',
  # 'train_pubmed.jsonl',
  # 'train_reddit.jsonl',
  # 'train_wikihow.jsonl',
  # 'train_xsum.jsonl',
  
  'val_CNNDM_bert.jsonl',
  'val_multinews.jsonl',
  'val_pubmed.jsonl',
  'val_reddit.jsonl',
  'val_wikihow.jsonl',
  'val_xsum.jsonl',
]

In [ ]:
df = pd.DataFrame(columns = ['text', 'summary'])

for filename in used_files:
  print(filename + ' is being loaded...')
  tmp = pd.read_json(filename, lines=True)

  tmp['text'] = tmp['text'].apply(lambda text: ' '.join(text))
  tmp['summary'] = tmp['summary'].apply(lambda summary: ' '.join(summary))

  df = pd.concat([df, tmp])
  del tmp
  print(filename + ' was loaded into the dataframe.')

val_CNNDM_bert.jsonl is being loaded...
val_CNNDM_bert.jsonl was loaded into the dataframe.
val_multinews.jsonl is being loaded...
val_multinews.jsonl was loaded into the dataframe.
val_pubmed.jsonl is being loaded...
val_pubmed.jsonl was loaded into the dataframe.
val_reddit.jsonl is being loaded...
val_reddit.jsonl was loaded into the dataframe.
val_wikihow.jsonl is being loaded...
val_wikihow.jsonl was loaded into the dataframe.
val_xsum.jsonl is being loaded...
val_xsum.jsonl was loaded into the dataframe.

,text,summary,label,ext_idx,indices,score,candidate_id,text_id,summary_id
0,jorge pereira won the open savoury amateur pri...,jorge pereira won the amateur prize at the wor...,"[1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 3, 6, 2, 18]","[[0, 6], [2, 6], [0, 18], [2, 18], [0, 3], [2,...","[0.43092333333333305, 0.43092333333333305, 0.3...","[[101, 10853, 23857, 2180, 1996, 2330, 7842, 6...","[101, 10853, 23857, 2180, 1996, 2330, 7842, 67...","[101, 10853, 23857, 2180, 1996, 5515, 3396, 20..."
1,manuel neuer accepted responsibility as bayern...,bayern munich were beat 2-0 at home by borussi...,"[0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[5, 12, 1, 6, 7]","[[1, 5], [1, 5, 7], [1, 5, 12], [1, 5, 6], [1,...","[0.5544266666666661, 0.47652666666666604, 0.47...","[[101, 21350, 2020, 7854, 1016, 1011, 1014, 20...","[101, 7762, 27713, 2099, 3970, 5368, 2004, 213...","[101, 21350, 7469, 2020, 3786, 1016, 1011, 101..."
2,the financial crash has left the poor even poo...,financial wealth of the richest 20 per cent ha...,"[0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 2, 4, 5, 3]","[[1, 2], [2, 3], [1, 2, 3], [1, 3], [1, 2, 5],...","[0.5192800000000001, 0.5192800000000001, 0.435...","[[101, 2750, 1996, 3171, 7859, 1999, 2263, 101...","[101, 1996, 3361, 5823, 2038, 2187, 1996, 3532...","[101, 3361, 7177, 1997, 1996, 18429, 2322, 256..."
3,"years into the future , if historians look bac...",love affair with wipes has grown recently - fr...,"[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[5, 7, 8, 6, 11]","[[5, 6, 7], [5, 6, 11], [5, 6], [5, 6, 8], [5,...","[0.37298000000000003, 0.36479666666666605, 0.3...","[[101, 7483, 1010, 1037, 3189, 2011, 1996, 388...","[101, 2086, 2046, 1996, 2925, 1010, 2065, 7862...","[101, 2293, 6771, 2007, 13387, 2015, 2038, 496..."
4,forget the bragging rights - victory in sunday...,sunday 's clash will go a long way to deciding...,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[3, 5, 20, 14, 4]","[[4, 5, 14], [4, 5, 20], [3, 4, 5], [4, 5], [3...","[0.23918333333333303, 0.22094333333333302, 0.2...","[[101, 2044, 2142, 1005, 1055, 15640, 2286, 10...","[101, 5293, 1996, 23678, 2075, 2916, 1011, 337...","[101, 4465, 1005, 1055, 13249, 2097, 2175, 103..."
...,...,...,...,...,...,...,...,...,...
11268,the wreck of the 3rd century trading ship aste...,timbers from a gallo-roman wreck found off gue...,NaN,"[1, 2, 3, 4, 5]","[[1], [1, 2], [1, 3], [1, 4], [1, 5], [2, 4], ...","[0.41150333333333305, 0.377246666666666, 0.330...","[[101, 1996, 26238, 2024, 2000, 2175, 2006, 46...","[101, 1996, 12006, 1997, 1996, 3822, 2301, 620...","[101, 26238, 2013, 1037, 25624, 1011, 3142, 12..."
11269,"david rees , who chairs the assembly 's health...",plans to ban the use of e-cigarettes in enclos...,NaN,"[3, 6, 7, 1, 4]","[[1, 4], [4, 6], [4], [4, 7], [1, 7], [1, 3], ...","[0.21150000000000002, 0.206176666666666, 0.192...","[[101, 1996, 2274, 4428, 2372, 3569, 13730, 20...","[101, 2585, 22131, 1010, 2040, 8397, 1996, 332...","[101, 3488, 2000, 7221, 1996, 2224, 1997, 1041..."
11270,both locals and immigrants joined the protest ...,"about 30,000 people have taken part in a march...",NaN,"[17, 15, 1, 4, 2]","[[1, 2], [2, 15], [1, 4], [2], [1, 15], [4, 15...","[0.258163333333333, 0.21577000000000002, 0.205...","[[101, 2019, 3424, 1011, 1060, 16515, 20200, 6...","[101, 2119, 10575, 1998, 7489, 2587, 1996, 618...","[101, 2055, 2382, 1010, 2199, 2111, 2031, 2579..."
11271,the championship club had been in talks with t...,nottingham forest 's proposed takeover by a un...,NaN,"[4, 1, 2, 7, 8]","[[1, 8], [1, 7], [7, 8], [1], [8], [4, 8], [1,...","[0.13183666666666602, 0.109756666666666, 0.098...","[[101, 2174, 1010, 2632, 2038, 10376, 2072, 10...","[101, 1996, 2528, 2252, 2018, 2042, 1999, 7566...","[101, 11331, 3224, 1005, 1055, 3818, 15336, 20..."
11272,12 january 2016 last updated at 09:50 gmt in a...,the last major strike over pay and conditions ...,NaN,"[4, 2, 1, 3, 5]","[[2, 5], [2], [1, 2], [2, 4], [2, 3], [1, 5], ...","[0.26509666666666604, 0.259543333333333, 0.223...","[[101, 3477, 2001, 2178, 2350, 3277, 2012, 199...","[101, 2260, 2254, 2355, 2197, 7172, 2012, 5641...","[101, 1996, 2197, 2350, 4894, 2058, 3477, 1998..."

In [ ]:
df = df[['text', 'summary']].copy()
df

,text,summary
0,jorge pereira won the open savoury amateur pri...,jorge pereira won the amateur prize at the wor...
1,manuel neuer accepted responsibility as bayern...,bayern munich were beat 2-0 at home by borussi...
2,the financial crash has left the poor even poo...,financial wealth of the richest 20 per cent ha...
3,"years into the future , if historians look bac...",love affair with wipes has grown recently - fr...
4,forget the bragging rights - victory in sunday...,sunday 's clash will go a long way to deciding...
...,...,...
11268,the wreck of the 3rd century trading ship aste...,timbers from a gallo-roman wreck found off gue...
11269,"david rees , who chairs the assembly 's health...",plans to ban the use of e-cigarettes in enclos...
11270,both locals and immigrants joined the protest ...,"about 30,000 people have taken part in a march..."
11271,the championship club had been in talks with t...,nottingham forest 's proposed takeover by a un...
11272,12 january 2016 last updated at 09:50 gmt in a...,the last major strike over pay and conditions ...

# Data preprocessing

In [ ]:
import string
import spacy
import nltk

nlp = spacy.load('en_core_web_sm')
nltk.download('punkt')

In [ ]:
#######################################
df = df.sample(n=500, replace=False, random_state=1)
df
#######################################

,text,summary
4071,you 'll need to enter your email address and p...,open the gmail website . click the search bar ...
4594,"magicians , like other performers , tend to st...",choose a persona . perfect your `` patter . ``...
5245,"; , one way to do this is to get about 20 cind...",set aside some space in which to work and an a...
3665,tweet with a location you can add location inf...,– a manhattan bar that previously made waves f...
431,loose or inaccurately placed brackets that req...,objectivethe aim of this study was to evaluate...
...,...,...
6045,scotland international geoff cross has complet...,geoff cross had his beard shaved off at the lo...
35,"likely you will be working in a zoo , a safari...",be in charge of a tigress . wait for the tigre...
42,nearly 300 amtrak passengers were left strande...,"acela train # 2164 lost power near mystic , co..."
3046,"; , just right click on the archive file to op...",locate the file by opening the folder which co...
3936,22 december 2015 last updated at 11:22 gmt the...,cctv footage has been released of thieves stea...

## Sentence splitting & Removing punctuation

In [ ]:
translator = str.maketrans('', '', string.punctuation)

df['sentences'] = df['text'].apply(lambda text: nltk.sent_tokenize(text))
df['len_sentences'] = df['sentences'].apply(lambda array: len(array))

df['sentences'] = df['sentences'].apply(lambda array: [sent.translate(translator) for sent in array ])
del translator

df

,text,summary,sentences,tokenized,stopword_filtered_lemmas,pos_tagged,len_sentences
4071,you 'll need to enter your email address and p...,open the gmail website . click the search bar ...,[you ll need to enter your email address and p...,"[you, ll, need, to, enter, your, email, addres...","[ll, need, enter, email, address, password, no...","[PRON, AUX, VERB, PART, VERB, PRON, NOUN, NOUN...",9
4594,"magicians , like other performers , tend to st...",choose a persona . perfect your `` patter . ``...,[magicians like other performers tend to sti...,"[magicians, , like, other, performers, , ten...","[magician, like, performer, tend, stick, consi...","[NOUN, SPACE, ADP, ADJ, NOUN, SPACE, VERB, PAR...",27
5245,"; , one way to do this is to get about 20 cind...",set aside some space in which to work and an a...,[ one way to do this is to get about 20 cinde...,"[ , one, way, to, do, this, is, to, get, abou...","[way, 20, cinder, block, arrange, square, laye...","[SPACE, NUM, NOUN, PART, VERB, PRON, AUX, PART...",25
3665,tweet with a location you can add location inf...,– a manhattan bar that previously made waves f...,[tweet with a location you can add location in...,"[tweet, with, a, location, you, can, add, loca...","[tweet, location, add, location, information, ...","[VERB, ADP, DET, NOUN, PRON, AUX, VERB, NOUN, ...",15
431,loose or inaccurately placed brackets that req...,objectivethe aim of this study was to evaluate...,[loose or inaccurately placed brackets that re...,"[loose, or, inaccurately, placed, brackets, th...","[loose, inaccurately, place, bracket, require,...","[ADJ, CCONJ, ADV, VERB, NOUN, PRON, VERB, VERB...",16
...,...,...,...,...,...,...,...
6045,scotland international geoff cross has complet...,geoff cross had his beard shaved off at the lo...,[scotland international geoff cross has comple...,"[scotland, international, geoff, cross, has, c...","[scotland, international, geoff, cross, comple...","[PROPN, PROPN, PROPN, PROPN, AUX, VERB, PRON, ...",7
35,"likely you will be working in a zoo , a safari...",be in charge of a tigress . wait for the tigre...,[likely you will be working in a zoo a safari...,"[likely, you, will, be, working, in, a, zoo, ...","[likely, work, zoo, safari, park, work, volunt...","[ADV, PRON, AUX, AUX, VERB, ADP, DET, NOUN, SP...",16
42,nearly 300 amtrak passengers were left strande...,"acela train # 2164 lost power near mystic , co...",[nearly 300 amtrak passengers were left strand...,"[nearly, 300, amtrak, passengers, were, left, ...","[nearly, 300, amtrak, passenger, leave, strand...","[ADV, NUM, NOUN, NOUN, AUX, VERB, VERB, ADP, D...",33
3046,"; , just right click on the archive file to op...",locate the file by opening the folder which co...,[ just right click on the archive file to ope...,"[ , just, right, click, on, the, archive, fil...","[right, click, archive, file, open, context, m...","[SPACE, ADV, ADV, NOUN, ADP, DET, NOUN, NOUN, ...",8
3936,22 december 2015 last updated at 11:22 gmt the...,cctv footage has been released of thieves stea...,[22 december 2015 last updated at 1122 gmt the...,"[22, december, 2015, last, updated, at, 1122, ...","[22, december, 2015, update, 1122, gmt, male, ...","[NUM, PROPN, NUM, ADV, VERB, ADP, NUM, VERB, D...",2

## Tokenization

- Removing stopwords
- Lemmatization

In [ ]:
def tokenize(df_text_column):
    tokens = []
    documents = list(nlp.pipe(df_text_column, batch_size=64))

    for doc in documents:
        toks = []
        for token in doc:
            toks.append(token)
        tokens.append(toks)

    return tokens

In [ ]:
df['tokenized'] = tokenize(df['sentences'].apply(lambda array: ' '.join(array)))
df

,text,summary,sentences,length,tokenized
4071,you 'll need to enter your email address and p...,open the gmail website . click the search bar ...,[you ll need to enter your email address and p...,9,"[you, ll, need, to, enter, your, email, addres..."
4594,"magicians , like other performers , tend to st...",choose a persona . perfect your `` patter . ``...,[magicians like other performers tend to sti...,27,"[magicians, , like, other, performers, , ten..."
5245,"; , one way to do this is to get about 20 cind...",set aside some space in which to work and an a...,[ one way to do this is to get about 20 cinde...,25,"[ , one, way, to, do, this, is, to, get, abou..."
3665,tweet with a location you can add location inf...,– a manhattan bar that previously made waves f...,[tweet with a location you can add location in...,15,"[tweet, with, a, location, you, can, add, loca..."
431,loose or inaccurately placed brackets that req...,objectivethe aim of this study was to evaluate...,[loose or inaccurately placed brackets that re...,16,"[loose, or, inaccurately, placed, brackets, th..."
...,...,...,...,...,...
6045,scotland international geoff cross has complet...,geoff cross had his beard shaved off at the lo...,[scotland international geoff cross has comple...,7,"[scotland, international, geoff, cross, has, c..."
35,"likely you will be working in a zoo , a safari...",be in charge of a tigress . wait for the tigre...,[likely you will be working in a zoo a safari...,16,"[likely, you, will, be, working, in, a, zoo, ..."
42,nearly 300 amtrak passengers were left strande...,"acela train # 2164 lost power near mystic , co...",[nearly 300 amtrak passengers were left strand...,33,"[nearly, 300, amtrak, passengers, were, left, ..."
3046,"; , just right click on the archive file to op...",locate the file by opening the folder which co...,[ just right click on the archive file to ope...,8,"[ , just, right, click, on, the, archive, fil..."
3936,22 december 2015 last updated at 11:22 gmt the...,cctv footage has been released of thieves stea...,[22 december 2015 last updated at 1122 gmt the...,2,"[22, december, 2015, last, updated, at, 1122, ..."

In [ ]:
def lemmatize(doc):
    lemmas = []

    for token in doc:
        if token.pos_ != 'PUNCT' and token.lower_[0] != '@':
            if token.lemma_ == '-PRON-':
                lemmas.append(token.lower_)
            else:
                lemmas.append(token.lemma_)

    return lemmas

In [ ]:
def stopword_filter(doc):
    filtered = []

    for token in doc:
        if not token.is_stop and not token.is_space:
            filtered.append(token)

    return filtered

In [ ]:
df['stopword_filtered_lemmas'] = df['tokenized'].apply(stopword_filter).apply(lemmatize)
df['len_lemmas'] = df['stopword_filtered_lemmas'].apply(lambda array: len(array))
df

,text,summary,sentences,tokenized,stopword_filtered_lemmas,pos_tagged,len_sentences,len_lemmas
4071,you 'll need to enter your email address and p...,open the gmail website . click the search bar ...,[you ll need to enter your email address and p...,"[you, ll, need, to, enter, your, email, addres...","[ll, need, enter, email, address, password, no...","[PRON, AUX, VERB, PART, VERB, PRON, NOUN, NOUN...",9,57
4594,"magicians , like other performers , tend to st...",choose a persona . perfect your `` patter . ``...,[magicians like other performers tend to sti...,"[magicians, , like, other, performers, , ten...","[magician, like, performer, tend, stick, consi...","[NOUN, SPACE, ADP, ADJ, NOUN, SPACE, VERB, PAR...",27,186
5245,"; , one way to do this is to get about 20 cind...",set aside some space in which to work and an a...,[ one way to do this is to get about 20 cinde...,"[ , one, way, to, do, this, is, to, get, abou...","[way, 20, cinder, block, arrange, square, laye...","[SPACE, NUM, NOUN, PART, VERB, PRON, AUX, PART...",25,194
3665,tweet with a location you can add location inf...,– a manhattan bar that previously made waves f...,[tweet with a location you can add location in...,"[tweet, with, a, location, you, can, add, loca...","[tweet, location, add, location, information, ...","[VERB, ADP, DET, NOUN, PRON, AUX, VERB, NOUN, ...",15,229
431,loose or inaccurately placed brackets that req...,objectivethe aim of this study was to evaluate...,[loose or inaccurately placed brackets that re...,"[loose, or, inaccurately, placed, brackets, th...","[loose, inaccurately, place, bracket, require,...","[ADJ, CCONJ, ADV, VERB, NOUN, PRON, VERB, VERB...",16,233
...,...,...,...,...,...,...,...,...
6045,scotland international geoff cross has complet...,geoff cross had his beard shaved off at the lo...,[scotland international geoff cross has comple...,"[scotland, international, geoff, cross, has, c...","[scotland, international, geoff, cross, comple...","[PROPN, PROPN, PROPN, PROPN, AUX, VERB, PRON, ...",7,168
35,"likely you will be working in a zoo , a safari...",be in charge of a tigress . wait for the tigre...,[likely you will be working in a zoo a safari...,"[likely, you, will, be, working, in, a, zoo, ...","[likely, work, zoo, safari, park, work, volunt...","[ADV, PRON, AUX, AUX, VERB, ADP, DET, NOUN, SP...",16,141
42,nearly 300 amtrak passengers were left strande...,"acela train # 2164 lost power near mystic , co...",[nearly 300 amtrak passengers were left strand...,"[nearly, 300, amtrak, passengers, were, left, ...","[nearly, 300, amtrak, passenger, leave, strand...","[ADV, NUM, NOUN, NOUN, AUX, VERB, VERB, ADP, D...",33,431
3046,"; , just right click on the archive file to op...",locate the file by opening the folder which co...,[ just right click on the archive file to ope...,"[ , just, right, click, on, the, archive, fil...","[right, click, archive, file, open, context, m...","[SPACE, ADV, ADV, NOUN, ADP, DET, NOUN, NOUN, ...",8,44
3936,22 december 2015 last updated at 11:22 gmt the...,cctv footage has been released of thieves stea...,[22 december 2015 last updated at 1122 gmt the...,"[22, december, 2015, last, updated, at, 1122, ...","[22, december, 2015, update, 1122, gmt, male, ...","[NUM, PROPN, NUM, ADV, VERB, ADP, NUM, VERB, D...",2,42

## POS-tagging

In [ ]:
def pos_tag(doc):
    pos_list = []

    for token in doc:
        pos_list.append(token.pos_)

    return pos_list

In [ ]:
df['pos_tagged'] = df['tokenized'].apply(pos_tag)
df

,text,summary,sentences,length,tokenized,stopword_filtered_lemmas,pos_tagged
4071,you 'll need to enter your email address and p...,open the gmail website . click the search bar ...,[you ll need to enter your email address and p...,9,"[you, ll, need, to, enter, your, email, addres...","[ll, need, enter, email, address, password, no...","[PRON, AUX, VERB, PART, VERB, PRON, NOUN, NOUN..."
4594,"magicians , like other performers , tend to st...",choose a persona . perfect your `` patter . ``...,[magicians like other performers tend to sti...,27,"[magicians, , like, other, performers, , ten...","[magician, like, performer, tend, stick, consi...","[NOUN, SPACE, ADP, ADJ, NOUN, SPACE, VERB, PAR..."
5245,"; , one way to do this is to get about 20 cind...",set aside some space in which to work and an a...,[ one way to do this is to get about 20 cinde...,25,"[ , one, way, to, do, this, is, to, get, abou...","[way, 20, cinder, block, arrange, square, laye...","[SPACE, NUM, NOUN, PART, VERB, PRON, AUX, PART..."
3665,tweet with a location you can add location inf...,– a manhattan bar that previously made waves f...,[tweet with a location you can add location in...,15,"[tweet, with, a, location, you, can, add, loca...","[tweet, location, add, location, information, ...","[VERB, ADP, DET, NOUN, PRON, AUX, VERB, NOUN, ..."
431,loose or inaccurately placed brackets that req...,objectivethe aim of this study was to evaluate...,[loose or inaccurately placed brackets that re...,16,"[loose, or, inaccurately, placed, brackets, th...","[loose, inaccurately, place, bracket, require,...","[ADJ, CCONJ, ADV, VERB, NOUN, PRON, VERB, VERB..."
...,...,...,...,...,...,...,...
6045,scotland international geoff cross has complet...,geoff cross had his beard shaved off at the lo...,[scotland international geoff cross has comple...,7,"[scotland, international, geoff, cross, has, c...","[scotland, international, geoff, cross, comple...","[PROPN, PROPN, PROPN, PROPN, AUX, VERB, PRON, ..."
35,"likely you will be working in a zoo , a safari...",be in charge of a tigress . wait for the tigre...,[likely you will be working in a zoo a safari...,16,"[likely, you, will, be, working, in, a, zoo, ...","[likely, work, zoo, safari, park, work, volunt...","[ADV, PRON, AUX, AUX, VERB, ADP, DET, NOUN, SP..."
42,nearly 300 amtrak passengers were left strande...,"acela train # 2164 lost power near mystic , co...",[nearly 300 amtrak passengers were left strand...,33,"[nearly, 300, amtrak, passengers, were, left, ...","[nearly, 300, amtrak, passenger, leave, strand...","[ADV, NUM, NOUN, NOUN, AUX, VERB, VERB, ADP, D..."
3046,"; , just right click on the archive file to op...",locate the file by opening the folder which co...,[ just right click on the archive file to ope...,8,"[ , just, right, click, on, the, archive, fil...","[right, click, archive, file, open, context, m...","[SPACE, ADV, ADV, NOUN, ADP, DET, NOUN, NOUN, ..."
3936,22 december 2015 last updated at 11:22 gmt the...,cctv footage has been released of thieves stea...,[22 december 2015 last updated at 1122 gmt the...,2,"[22, december, 2015, last, updated, at, 1122, ...","[22, december, 2015, update, 1122, gmt, male, ...","[NUM, PROPN, NUM, ADV, VERB, ADP, NUM, VERB, D..."

## Converting to numerical values

- Converting to lowercase

## Train and validation split

# Embeddings

# Modeling